@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: 0px auto;
}

h1 {
  display: block;
  font-size: 2em;

  margin-left: 0;
  margin-right: 0;
}
h2 {
  display: block;
  font-size: 1.5em;

  margin-left: 0;
  margin-right: 0;
}
h3 {
  display: block;
  font-size: 1.17em;

  margin-left: 0;
  margin-right: 0;
}
h4 {
  display: block;

  margin-left: 0;
  margin-right: 0;
}

/* reset */
ul {
  list-style-type: disc;
  list-style-position: inside;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
}
ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

p {
  margin: 0.75em 0;
}


body {
  font-family: 'Roboto', sans-serif;
}

/* custom scroll */

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 245); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: blue; 
}

/* custom carousel */
.slick-dots li button:before{
  font-size: 14px !important;
  color: white !important;
}

.slick-dots li.slick-active button:before{
  color: blue !important;
}

.slick-dots{
  bottom: 10px !important;
}