// .image-3d-left {
//     transform: perspective(800px) rotateY(15deg) scale(0.9) rotateX(10deg);
//     opacity: 1;
//     transition: 0.6s ease all;

//     &:hover {
//         transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
//         filter: blur(0);
//         opacity: 1;
//     }
// }

.image-3d-left {
    transform: perspective(800px) rotateY(15deg) scale(0.9) rotateX(10deg);
    opacity: 0.8;
    transition: 0.6s ease all;

    &:hover {
        transform: perspective(800px) rotateY(0deg) translateY(0px) rotateX(0deg) scale(1);
        filter: blur(0);
        opacity: 1;
    }
}

.image-3d-right {
    transform: perspective(800px) rotateY(-15deg) scale(0.9) rotateX(10deg);
    opacity: 0.8;
    transition: 0.6s ease all;

    &:hover {
        transform: perspective(800px) rotateY(0deg) translateY(0px) rotateX(0deg) scale(1);
        filter: blur(0);
        opacity: 1;
    }
}


